<div class="ui inverted main menu">
    <a class="ui item" (click)="toggle()">
        <i class="bars icon large"></i>
    </a>
    <a>
      <img class="ui small image" src="../../../assets/images/fincamex-logo1.png" (click)="toggle()">
    </a>
    <div class="right menu">
      <a class="ui item">
          <i class="bell icon large"></i>
      </a>
      <a class="ui item" (click)="salir()">
        <i class="user circle icon large"></i>
        JAVIER ZAZUETA
      </a>
    </div>
  </div>


  <div class="ui vertical inverted sidebar labeled icon menu">
      <a class="item">
          <img class="ui mini image" src="../../../assets/images/empresa.png">
      </a>
      <a class="item">
          <img class="ui mini image" src="../../../assets/images/promotora.png">
      </a>
      <a class="item">
          <img class="ui mini image" src="../../../assets/images/famex.png">
      </a>
      <a class="item">
          <img class="ui mini image" src="../../../assets/images/fincasin.png">
      </a>
      <a class="item">
          <img class="ui mini image" src="../../../assets/images/credirecursos.png">
      </a>
      <a class="item">
          <img class="ui mini image" src="../../../assets/images/finamo.png">
      </a>
    </div>