<div class="backlogin">
  <br>
  <br>
  <!-- <img   class="ui centered large image" src="../../assets/fincamexLogoGrande.png" /> -->
  <img   src="../../assets/fincamexLogoGrande.png" class="ui centered ui medium image" alt="Responsive image">
<div class="ui container">
  <div class="ui one column stackable center aligned page grid center-screen"  >
    <div class="carta">

    <form class="ui form ui centered">
      <div class="ui cards ui centered">
        <div class="card">
          <div class="content">
            <div>
              <img  width="500px" src="../assets/login.png"  class="loginImagen" />
              
            </div>
            <div class="description">
              <div class="field">
              <input type="text" id="correo" [(ngModel)]="correo" name="correo" type="text" name="email"  required>
                <label> <i class="user icon"></i>Correo</label>
              </div>
              <div class="field">
                <input  type="password" name="password"   [(ngModel)]="contrasena" name="contrasena" required>
                <label><i class="lock icon"></i>Password</label>
              </div>
              <div class="field checkbox ">
                  <input type="checkbox" required >
                  <label>Recordar</label>
                </div>
              
                <button  (click)="login()"  class="positive ui button ui fluid large teal ">Iniciar Sesión</button>     
            </div>
          </div>
        </div>
      </div>
      </form>
    </div>
  </div>
</div>



<!-- <div class="ui positive message">
    <i class="close icon"></i>
    <div class="header">
      You are eligible for a reward
    </div>
    <p>Go to your <b>special offers</b> page to see now.</p>
  </div>

         -->