<div class="ui inverted menu">

</div>

<img  width="500px" src="../assets/fincamexLogoGrande.png"  class="margenImg" />

<div class="ui one column stackable center aligned page grid center-screen"  >
  <div class="carta">
    
    <form class="ui large form">
      
      <div class="ui stacked segment">
          <div>
              <img  width="500px" src="../assets/login.png"  class="loginImagen" />
          </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input id="correo" [(ngModel)]="correo" name="correo" type="text" name="email" placeholder="Correo Electronico" >
            <label>Correo</label>
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" placeholder="Password"  [(ngModel)]="contrasena" name="contrasena">
            <label>Password</label>
          </div>
        </div>

        <!-- <div class="field checkbox">
            <input type="checkbox" required>
            <label>checkbox</label>
          </div>   -->
        <div (click)="login()"  class=" ui fluid large teal submit button">Iniciar Sesión</div>
      </div>
      <div class="ui error message"></div>
    </form>
  </div>
</div>



        